.home-name{
    background-color: #333333;
    color: white;
    display: table;
    width: 100%;
    text-align: center;
}

.link{
    display: block;
    width: 250px;
    /* Increase space in inside border  */
    padding: 15px 0 15px 0;
    /* 5 px spacing around border then center using auto */
    margin: 5px auto;
    /* cursor: pointer; */
    color: white;
    /* Remove underline from link  */
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.link:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    transition: transform 0.25s linear;
    transform: translateX(15px);
}

.top{ border-radius: 10px 10px 0 0;}
.bot{ border-radius: 0 0 10px 10px;}

.week2{ background-color: #001f3f; 
    margin-top: 10%;
}
.week3{ background-color: #6B5B95;}
.week4{ background-color: #F7CAC9;}
.week5{ background-color: #009B77;}
.week6{ background-color: #D65076;}
.week7{ background-color: #45B8AC;}
.week8{ background-color: #EFC050;}

.left{
    animation-duration: 1s;
    animation-name: slideinleft;
}
.right{
    animation-duration: 1s;
    animation-name: slideinright;
}
.fast{ animation-duration: 0.5s;}
.slow{ animation-duration: 1.5s;}

@keyframes slideinleft{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes slideinright{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
