div{
    text-align: center;
}

.landing-page{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(11, 18, 56);
    color: white;
    justify-content: center;
    align-items: center;
    /* border: 3px solid white; */
    flex-direction: column;
}
.landing-page > .title-flex{
    font-size: 100px;
}
.landing-page > .pixels{
    display: flex;
    flex-direction: row;
}
.landing-page > .pixels > .pixel{
    /* border: 3px solid white; */
    background-color: white;
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
    transition:width 2s;
}
.landing-page > .pixels > .one{
    animation-name: pixelone;
    animation-duration: 2s;
}
.landing-page > .pixels > .two{
    animation-name: pixeltwo;
    animation-duration: 2s;
}
.landing-page > .pixels > .three{
    animation-name: pixelthree;
    animation-duration: 2s;
}
.landing-page > .pixels > .four{
    animation-name: pixelfour;
    animation-duration: 2s;
}
.landing-page > .pixels > .five{
    animation-name: pixelfive;
    animation-duration: 2s;
}
@keyframes pixelone{
    0% {background-color: red;}
    50% {background-color: yellow;}
    100% {background-color: white;}
}
@keyframes pixeltwo{
    10% {background-color: pink;}
    60% {background-color: plum;}
    100% {background-color: white;}
}
@keyframes pixelthree{
    20% {background-color: yellow;}
    70% {background-color: green;}
    100% {background-color: white;}
}
@keyframes pixelfour{
    10% {background-color: black;}
    40% {background-color: orange;}
    100% {background-color: white;}
}
@keyframes pixelfive{
    20% {background-color: violet;}
    80% {background-color: aqua;}
    100% {background-color: white;}
}

.abstract-art-page{
    background-color: black;
}
.abstract-art-page > h2{
    color: white;
    font-size: 40px;
    margin:0;
}
.art-flex{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    align-items: center;
}
.art-flex > img{
    width: 40%;
    margin-bottom: 30px;
}
.art-flex > div{
    /* width: 40%; */
    color: white;
    font-size: 30px;
    padding-left: 20px;
}

.box1 { grid-area: header; background: peachpuff;}
.box2 { grid-area: menu; background: white;}
.box3 { grid-area: main; background: rgb(180, 58, 28);}
.box4 { grid-area: right; background: rgb(15, 80, 201);}
.box5 { grid-area: footer; background: peachpuff;}
.box6 { grid-area: box6; background: white;}
.box7 { grid-area: box7; background: rgb(15, 80, 201);}
.box8 { grid-area: box8; background: peachpuff;}
.box9 { grid-area: box9; background: rgb(15, 80, 201);}
.box10 { grid-area: box10; background: rgb(180, 58, 28);}
.box11 { grid-area: box11; background: white;}
.box12 { grid-area: box12; background: peachpuff;}
.box13 { grid-area: box13; background: rgb(15, 80, 201);}
.box14 { grid-area: box14; background: white;}
.box15 { grid-area: box15; background: rgb(180, 58, 28);}

.art-grid {
  display: grid;
  grid-template-areas:
    '. header header header header header header .'
    'menu . main main main . right right '
    'menu footer footer footer footer footer . .'
    'menu . box6 box6 box7 box8 box8 .'
    'box9 box9 box9 . box7 . box10 box10'
    '. box11 box12 . box7 box13 . .'
    '. box11 box14 box14 box7 . box15 box15';


  grid-gap: 10px;
  background-color: black;
  padding: 10px;
}
.art-grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.flexbox-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(11, 18, 56);
}

.flexbox-item, .item2{
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 3px solid black; */
}

.pagex > .item1{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.pagex > .item2{
    width: 70%;
}

.pagex > .item1 > h1{
    color: white;
}
.pagex > .item1 > .colors{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.pagex > .item1 > .colors > label{
    border: 2px solid black;
    padding: 10px;
}

.gridbox-container{
    display: grid;
    /* border: 3px solid black; */
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 80%;
    height: 80%;
    /* grid-gap: 10px; */
}
.gridcells:hover{
    box-shadow: 0 0 11px rgb(8, 80, 46);
}

.changeColor-btn{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.changeColor-btn:hover{
    color: black;
    background: white;
    border: 1px solid white;
}
