img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start{
  height: 100vh;
  width: 100%;
  background-image: url('./images/floor.PNG');
  display: table;
}

.start .start-text{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: rgb(27, 30, 31);
  font-family: Arial, Helvetica, sans-serif;
}

.start .start-text h2{
  color: rgb(214, 199, 59);
}

.response-page{
  height: 100vh;
  width: 100%;
  display: table;
  background-image: url('./images/blue.PNG')
}

.response-page p{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.image-text-border{
  height: 100vh;
  display: table;
  table-layout: fixed;
}

.image-section, .text-section{
  /* float: left; */
  height: 100%;
  display: table-cell;
}

.image-section{
  width: 60%;
}

.text-section{
  width: 40%;
  background-color: bisque;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.meme_mona{
  height: 100vh;
  width: 100%;
  background-image: url('./images/meme_mona2.PNG');
  background-repeat: no-repeat;
}